@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Số 19, Nguyễn Hữu Thọ, phường Tân Phong, quận 7, thành phố Hồ Chí Minh<br />
    Man Hao Co,Ltd<br />
    <abbr title="Phone">Số điện thoại</abbr>
    0835469493
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">dhmman.contacts@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">dhmman.contacts@gmail.com</a>
</address>